.App {
  text-align: center;
  /*min-height: 100vh;*/
  padding-top: 50px;
  padding-bottom: 60px;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 35px;
  position: absolute;
  left: 5%;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  height: 35px;
  padding: 5px;
  color: white;
  z-index: 5;
  box-shadow: 0px 0px 5px 2px rgb(25,25,25);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
